.zoom-in {
  animation-name: zoom-in;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

@keyframes zoom-in {
  from {
    transform: scale(5);
  }
  to {
    transform: scale(1);
  }
}

.plus-mark {
  top: 50%;
  left: 50%;
  opacity: 50%;
  background-color: transparent !important;
}
